<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/ContactUs.css">
   

</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a  href="/">Shop </a></li>
                <li class="main-header__item"><a href="/add-product">Add Product</a></li>
                <li class="main-header__item"><a  class="active" href="/contactus">Contact Us </a></li>


            </ul>
        </nav>
    </header>
    <main>
        <form class="ContactUs-form" action="/success" method="POST">
            <div class="ContactUsform-control">
                <h3>Book a Call</h3>
                <hr>
                <p>Book a call and we will connect with you soon</p>
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name" required>
                <label for="emailId">Email Id</label>
                <input type="email" name="emailId" id="emailId" required>
                <button type="submit">Submit</button>
            </div>
        
        
        </form>
    </main>
</body>
</html>